@import url(bootstrap.css);

.btn-block{
  width: 100%;
}

.btn{
  margin: 5px;
}
.required .form-label:after { 
  color: #d00;
  content: "*";
  position: relative;
}
/* BANNER */
.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background:  url("/img/bg-masthead.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.masthead h1, .masthead .h1 {
  color: var(--bs-secondary);
  font-size: 4rem;
  margin: 0;
  padding: 0;
}
@media (min-width: 992px) {
  .masthead {
    height: 100vh;
  }
  .masthead h1, .masthead .h1 {
    color: var(--bs-secondary);
    font-size: 5.5rem;
    
  }
}

/* BANNER SMALL */
.minhead {
  min-height: 10rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background:  url("/img/bg-minhead.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.minhead h1, .masthead .h1 {
  color: var(--bs-secondary);
  font-size: 4rem;
  margin: 0;
  padding: 0;
}
@media (min-width: 992px) {
  .minhead {
    height: 10vh;
  }
  .minhead h1, .minhead .h1 {
    color: var(--bs-secondary);
    font-size: 5.5rem;
    
  }
}